# MINIO
S3_USER=insert_user
S3_PASSWORD=insert_pasword

# SMTP MAIL
SMTP_USER=insert_mail
SMTP_PASSWORD=insert_app_password

# CLICKHOUSE
CH_USER=default
CH_PASSWORD=...

# GRAFANA
GF_USER=...
GF_PASSWORD=...

# POSTGRES
PG_USER=...
PG_PASSWORD=...
PG_DB=...

# AIRFLOW
AF_USER=...
AF_PASSWORD=...